<%- include("partials/_header") %>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
      <%- include("partials/_menu") %>
      <!-- about -->
      <div class="about">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="titlepage text_align_left">
                <span>01</span>
                <h2>About Us</h2>
                <p>Founded on April 23, 1923; TFF is the authorized institution to carry out football activities in Turkey, to ensure the development and spread of football throughout the country, to make all kinds of regulations, to take decisions and to implement them. </p>
                <a class="read_more" href="about.html">Read More</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_img">
                <figure><img src="images/tff.jpg" alt="#"/></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end about -->
      <!-- end footer -->
      <%- include("partials/_footer") %>